#navt li {
  display: inline-block;
  float: left;
  cursor: pointer;
  font-size: 105%;
}
#navt li a {
  color: black;
  text-decoration: none;
}
#navt li:nth-child(1) {
  width: 14%;
}
#navt li:nth-child(1):hover {
  background-color: rgba(0, 0, 0, 0.05);
}
#navt li:nth-child(1):hover a {
  color: dodgerblue;
}
#navt li:nth-child(2) {
  width: 14%;
}
#navt li:nth-child(2):hover {
  background-color: rgba(0, 0, 0, 0.05);
}
#navt li:nth-child(2):hover a {
  color: dodgerblue;
}
#navt li:nth-child(3) {
  width: 14%;
}
#navt li:nth-child(3):hover {
  background-color: rgba(0, 0, 0, 0.05);
}
#navt li:nth-child(3):hover a {
  color: dodgerblue;
}
#navt li:nth-child(4) {
  width: 14%;
}
#navt li:nth-child(4):hover {
  background-color: rgba(0, 0, 0, 0.05);
}
#navt li:nth-child(4):hover a {
  color: dodgerblue;
}
#navt li:nth-child(5) {
  width: 14%;
}
#navt li:nth-child(5):hover {
  background-color: rgba(0, 0, 0, 0.05);
}
#navt li:nth-child(5):hover a {
  color: dodgerblue;
}
#navt li:nth-child(6) {
  width: 14%;
}
.productType {
  margin: 5px 0px;
  position: relative;
  width: 104px;
  cursor: pointer;
  height: 110px;
  border-radius: 10px;
  background: #fff;
  border: 0.5px solid darkgrey;
  filter: grayscale(100%);
  box-shadow: 0 0 10px darkgrey;
  transition: 0.4s;
}
.productType:hover {
  box-shadow: 0 0 30px darkgrey;
  transition: 0.4s;
}
.dirtl {
  direction: rtl;
}
.productpanel {
  width: 212px;
  position: relative;
  margin: 15px 0;
  cursor: pointer;
  height: 231px;
  transition: 0.5s;
  border: 0.5px solid darkgray;
}
.productpanel:hover {
  box-shadow: 0 0 10px darkgrey;
  text-decoration: none;
  transition: 0.5s;
}
.productpanel a:hover {
  text-decoration: none;
}
.addTobtn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  font-size: 90%;
  border-bottom: 2px solid #c6c5c5;
  padding: 5px 3px;
  border-radius: 2px;
  display: inline;
  cursor: pointer;
  color: #888;
  transition: all 0.4s;
  background-color: cornflowerblue;
  border-bottom: 2px solid darkblue;
  color: #fff;
}
.addTobtn1 {
  width: 50%;
  font-size: 90%;
  border-bottom: 2px solid #c6c5c5;
  padding: 5px 3px;
  border-radius: 2px;
  display: inline;
  cursor: pointer;
  color: #888;
  transition: all 0.4s;
  background-color: cornflowerblue;
  border-bottom: 2px solid darkblue;
  color: #fff;
}
.addTobtnprice {
  position: absolute;
  bottom: 0px;
  width: 50%;
  display: inline;
  direction: rtl;
  font-size: 90%;
  background-color: #ede5e5;
  border-bottom: 2px solid #c6c5c5;
  padding: 5px 3px;
  border-radius: 2px;
  cursor: pointer;
  color: #888;
  transition: all 0.4s;
}
.btn {
  color: white;
  background-color: dodgerblue;
  padding: 3px 5px;
  border: 1px solid #565656;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover {
  transition: all 0.3s;
  background-color: blue;
  box-shadow: 0px 3px 2px black;
}
.w25 {
  width: 25%;
  float: right;
}
.w75 {
  width: 75%;
}
@media screen and (max-width: 1009px) {
  .w25,
  .w75 {
    width: 100%;
  }
}
.btnamaozesh {
  padding: 5px 10px;
  background-color: #fff5e1;
  border-radius: 10px;
  color: #000;
  transition: 0.3s;
  font-size: 90%;
  border-bottom: 2px solid #ffaa00;
}
.btnamaozesh:hover {
  text-decoration: none;
  color: #000;
  background-color: gold;
  transition: 0.3s;
}
.box_teacher {
  border: 1px solid #ffaa00;
  background-color: #fff5e1;
}
.searchresult {
  width: 100%;
  height: 110px;
  margin: 1px 0;
  cursor: pointer;
}
.searchresult:hover {
  box-shadow: 0 0 10px #8A99A6;
  border-bottom: 3px solid #d2d6dc;
  background-color: #ededed;
}
#togglecart {
  position: absolute;
  top: 38px;
  left: 0px;
  background-color: white;
  width: 270px;
  height: 250px;
  overflow-y: scroll;
  direction: rtl;
  border: 1px solid darkgrey;
}
/*# sourceMappingURL=design.css.map */